service talk_to_the_machine 
{
    id          =   talk_to_the_machine 
    user        =   challenge
    server      =   /usr/bin/python
    server_args =   /home/challenge/talk_to_the_machine.py
    disable     =   no  
    port        =   51966
    socket_type =   stream
    protocol    =   tcp 
    wait        =   no  
    type        =   UNLISTED
}
